{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} WordPlease {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
    <div class="menu">
        <a href="{% url "home_page" %}">Home</a> |
        <a href="{% url "blog_home" %}">Blogs</a> |
        <a href="{% url "new_post" %}">New Post</a> |
        <a href="{% url "login_page" %}">Login</a> |
        <a href="{% url "logout_page" %}">Logout</a> |
        <a href="{% url "signin_page" %}">Sign In</a>

        <hr>
        </div>
{% block content %}{% endblock %}
</body>
</html>